/*---------------------------------------------------
/* CSS for body
---------------------------------------------------*/
<style type="text/css">

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #666666;
	margin: 0;
	padding: 5;
	color: #000;
	text-align: center;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
	color: #000;
	alignment-adjust: central;
}
h1
{
	color: #0404B4; //NILE blue
}
h2
{
	color: #009933; //NILE green
a img { 
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	width: 100%;
	background-color: #FFFFFF;
	margin: 0 auto; 
}
header {
	background-color: #F5D0A9; //tan
}
.sidebar1 {
	float: left;
	width: 30%;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	color: #FFFFFF;
}
.content {
	padding: 10px 0;
	width: 70%;
	float: left;
}
aside {
	float: left;
	width: 100%;
	background-color: #009933;//NILE green
	padding: 10px;
	color: #F0F0F0;
}

.content ul, .content ol {
	padding: 0 15px 15px 40px;
}


ul.nav {
	list-style: none; 
	width: 100%;
	border-top: 1px solid #666; 
	margin-bottom: 15px; /
	
}
ul.nav li {
	border-bottom: 1px solid #666; 
}
ul.nav a, ul.nav a:visited {
	display: block; 
	width: 100%;  
	text-decoration: none;
	background-color: #0404B4;
	color: #FFFFFF;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #ADB96E;
	color: #FFFFFF;
}

footer {
	padding: 10px 0;
	background-color: #F5D0A9; //tan
	position: relative;
	clear: both; 
}
	float: right;
	margin-left: 8px;
}
*/
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
header, section, footer, aside, article, figure {
	display: block;
	vertical-align: middle;
	box-shadow: 2px 2px #000;
}
/* searchbar*/
<title>Search Box</title>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<!-- CSS styles for standard search box -->
<style type="text/css">
	#tfheader{
		background-color:#c3dfef;
	}
	#tfnewsearch{
		float:center;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:3px solid #009933; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		width: 50%;
	}
	.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #0404B4;
	border: solid 2px #0076a3;
	border-right: 0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	font-style: normal;
	font-weight: bold;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
</style>


-->
</style>