<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>

<link rel="stylesheet"
type="text/css"
href="nilestyle.css">

</head>

<body>

<div class="container">
  <header>
    <a href="../index.html"><img src="../assets/images/Nilebookslogo.jpg" alt="Nile Books Logo" width=30% id="Nile Books Logo" style="background-color: #FFFFFF; display: block; alig: center;" /></a>
	<!-- HTML for SEARCH BAR -->
    <div id="tfheader">
	  <form id="tfnewsearch" method="get" action="views/book9780743453363.html">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="Search NILE" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
  </header>
  <div class="sidebar1">
    <ul class="nav">
      <br>
      <li><b><a href="popular.html">Popular</a></b></li>
      <li><b><a href="leisure.html">Leisure</a></b></li>
      <li><b><a href="textbooks.html">Textbooks</a></b></li>
      <li><b><a href="sale.html">On Sale!</a></b></li>
      <br>
    </ul>
    <aside>
      <p> Welcome to NILE books! NILE is dedicated to bringing you the most extensive selection of texts from around the globe. We are proud to offer the largest selection online, even more than Amazon.  Guaranteed.</p>
      <br>
    </aside><!-- About info from https://www.tropicalsmoothie.com/about-us -->

<hr/>

<div class="blockText">
  <h3>&nbsp;    </h3>
  <h3>We go Further</h3>
  <p>
  	NILE books is unlike any other bookstore or online marketplace. We take a customer-centered approach that spans more than just a national level- our texts reach across borders, languages, and publishing limitations. We listen to our customers wants and hopes; we take your feedback seriously so contact us anytime!</p>
</div>

<br/>

<div class="blockText">
  <h3>
    We go Longer</h3>
  <p>
    NILE books dates back to our flagship store in Rio de Janerio, Brazil. Founded in 1911 as simply &quot;NILE,&quot; the store sold general goods and had a special and extensive book and magazine collection. </p>
  <p>The founder of Nile, Paloma Nickleso, was a lover and collector of texts from across the globe. Her passion for reading and knowledge was evident in the fast-growing reading section of NILE. Customers demanded more and more books, magazines, and articles.</p>
  <p>By 1935, Paloma ceased selling general goods and launched two more locations of NILE in Rio. By 1945, NILE was rebranded as NILE books and spread to 13 citites and 45 locations in Brazil. </p>
  <p>1962 was a big year for NILE: Paloma retired as CEO, promoted her most trusted employees to leadership, and opened 7 international locations in Paris, Seattle, New York, Beijing, Cairo, Sydney, and Manila.</p>
  <p>Since 1995, when NILE first launched our online store, we have increased our sales from $1 billion annually. to over $13 billion annually. Our growth can be attributed to our dedication to listening to our customers.</p>
</div>

<br/>

<div class="blockText">
  <h3>We go Bigger</h3>
  <p>
    Like the width of the NILE, our selection is the biggest on earth, even if our competitors claim this title! NILE is offered in 73 languages in over 113 countries. .</p>
</div>

  <footer>
    <br><p>
    <a href="customer.html">Sign In</a><br>
    <a href="about.html">Our Mission</a><br>
      <a href="about.html">Our Team</a><br>
    <a href="about.html">Contact Us</a></p>
  </footer>