<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>

<link rel="stylesheet"
type="text/css"
href="nilestyle.css">

</head>

<body>

<div class="container">
  <header>
    <a href="../index.html"><img src="../assets/images/Nilebookslogo.jpg" alt="Nile Books Logo" width=30% id="Nile Books Logo" style="background-color: #FFFFFF; display: block; alig: center;" /></a>
	<!-- HTML for SEARCH BAR -->
    <div id="tfheader">
	  <form id="tfnewsearch" method="get" action="views/book9780743453363.html">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="Search NILE" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
  </header>
  <div class="sidebar1">
    <ul class="nav">
      <br>
      <li><b><a href="popular.html">Popular</a></b></li>
      <li><b><a href="leisure.html">Leisure</a></b></li>
      <li><b><a href="textbooks.html">Textbooks</a></b></li>
      <li><b><a href="sale.html">On Sale!</a></b></li>
      <br>
    </ul>
    <aside>
      <p> Welcome to NILE books! NILE is dedicated to bringing you the most extensive selection of texts from around the globe. We are proud to offer the largest selection online, even more than Amazon.  Guaranteed.</p>
      <br>
    </aside>
      <p> Welcome to NILE books! NILE is dedicated to bringing you the most extensive selection of texts from around the globe. We are proud to offer the largest selection online, even more than Amazon.  Guaranteed.</p>
    </aside>
  <!-- end .sidebar1 --></div>
  <article class="content">
   <h2>Register as a New Customer:</h2>

<form action="NILEdatabase.html" method="post">
Email:<br>
<input type="text" name="email" />
<br>
Password:<br>
<input type="text" name="password" />
<br>
First Name:<br>
<input type="text" name="firstName" />
<br>
Middle Name:<br>
<input type="text" name="middleName" />
<br>
Last Name:<br>
<input type="text" name="lastName" />
<br />
Phone:<br>
<input type="text" name="phone" />
<br><br>
<b>Billing Address</b><br />
Street:<br>
<input type="text" name="billingStreet" />
<br>
City:<br>
<input type="text" name="billingCity" />
<br>
State:<br>
<input type="text" name="billingState" />
<br>
Zip Code:<br>
<input type="text" name="Billing Zipcode" />
<br><br>
<input type="submit" value="Submit">
<br><br>
</form>

<h2>Already a Registered NILE Customer?</h2>
<a href="login.html">Update Account</a>
<br>
<a href="login.html">Delete Account</a>
<br>
<a href="login.html">Log Out</a>
<br>
<a href="login.html">Shopping Cart</a>
<br>
<a href="login.html">Orders</a>
  <!-- end .content --></article>
 
  <footer>
    <br><p>
    <a href="customer.html">Sign In</a><br>
    <a href="about.html">Our Mission</a><br>
      <a href="about.html">Our Team</a><br>
    <a href="about.html">Contact Us</a></p>
  </footer>
<!-- end .container --></div>


</body>
</html>

