<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Log-in page</title>
  </head>
  <body>
	<p><a href="../index.html"><img src="../assets/images/Nilebookslogo.jpg" width=30% alt="NILE Books logo"></a></p>
	<p><strong>Sign-in to proceed:</strong></p>
    <form action="checkPwd.php" method="get">
      <div><label for="email">Email:
        <input type="text" required name="email" id="email"></label>
      </div>
      <div><label for="userpwd">Password:
        <input type="text" required name="userpwd" id="userpwd"></label>
      </div>
      <div><input type="submit" value="login"></div>
  </form>
	<p>Not Registered? <a href="newUser.php">Create An Account</a></p>
    
      <footer>
    <br><p>
    <a href="customer.html">Sign In</a><br>
    <a href="about.html">Our Mission</a><br>
      <a href="about.html">Our Team</a><br>
    <a href="about.html">Contact Us</a></p>
  </footer>
    
</body>
</html>
