<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link rel="stylesheet"
type="text/css"
href="nilestyle.css">
</head>

<body>

<div class="container">
  <header>
    <a href="../index.html"><img src="../assets/images/Nilebookslogo.jpg" alt="Nile Books Logo" width=30% id="Nile Books Logo" style="background-color: #FFFFFF; display: block; alig: center;" /></a>
	<!-- HTML for SEARCH BAR -->
    <div id="tfheader">
	  <form id="tfnewsearch" method="get" action="views/book9780743453363.html">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="Search NILE" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
  </header>
  <div class="sidebar1">
    <ul class="nav">
      <br>
      <li><b><a href="popular.html">Popular</a></b></li>
      <li><b><a href="leisure.html">Leisure</a></b></li>
      <li><b><a href="textbooks.html">Textbooks</a></b></li>
      <li><b><a href="sale.html">On Sale!</a></b></li>
      <br>
    </ul>
    <aside>
      <p> Welcome to NILE books! NILE is dedicated to bringing you the most extensive selection of texts from around the globe. We are proud to offer the largest selection online, even more than Amazon.  Guaranteed.</p>
      <br>
    </aside>
  <!-- end .sidebar1 --></div>
  <article class="content">
    <h1>Learn from NILE</h1>
    <section>
    <p>NILE stays up to date with the newest textbooks required by your instructors. And, to save you money, we offer renting and used versions.</p>
      <table width="80%" border="0" cellspacing="10" cellpadding="20" align="center">
        <tr>
          <td><img src="../assets/images/BookImage-MythicalManMonth.jpg" alt="Feminism Is For Everybody Cover" width="200" padding=5px id="FeminismCover"/></td>
          <td><img src="../assets/images/BookImage-Biology.jpg" alt="How to Practice Cover" width="200" padding=5px id="PracticeCover2"/></td>
          <td><img src="../assets/images/BookImage-RedefiningRealness.jpg" alt="How to Practice Cover" width="200" padding=5px id="PracticeCover"/></td>
        </tr>
      </table>      
    </section>
  <!-- end .content --></article>
 
  <footer>
    <br><p>
    <a href="customer.html">Sign In</a><br>
    <a href="about.html">Our Mission</a><br>
      <a href="about.html">Our Team</a><br>
    <a href="about.html">Contact Us</a></p>
  </footer>
<!-- end .container --></div>


</body>
</html>

